[submodule "rust"]
	path = rust
	url = https://github.com/valyntyler/flake-rust
[submodule "web"]
	path = web
	url = https://github.com/valyntyler/flake-web
[submodule "empty"]
	path = empty
	url = https://github.com/valyntyler/flake-empty
